[2018-04-05 18:56] Aaronontheweb opened #2 "Don't finish trace upon stashing"
Should try to preserve traces when we're stashing, when possible. Might need a custom `IStash` implementation in order to do this though.

[2018-11-30 17:00] Aaronontheweb opened #3 "Properly support tracing for persistent actors"
Depends, at least partially on https://github.com/petabridge/phobos-issues/issues/2 - but might also require wrapping the `Journal` and `SnapshotStore` with some instrumentation to measure time taken to persist / recover messages.

[2018-11-30 17:01] Aaronontheweb opened #4 "Add native support for AppDynamics"
Need to add some native drivers for AppDynamics for both monitoring and tracing, where it's supported.

[2018-11-30 17:01] Aaronontheweb opened #5 "Add native support for Google StackDriver"

[2018-11-30 17:02] Aaronontheweb opened #6 "Add native support for InfluxDb metrics"

[2018-11-30 17:03] Aaronontheweb opened #7 "Extract StatsD native driver code from inside of Phobos.Monitoring.StatsD package"
We should OSS the native driver we built for StatsD on top of Akka.Streams and Akka.IO, similar to how we've done for [Zipkin](https://github.com/petabridge/Petabridge.Tracing.Zipkin) and [Application Insights](https://github.com/petabridge/Petabridge.Tracing.ApplicationInsights).

[2018-11-30 17:08] Aaronontheweb opened #8 "Add configurable Kafka transport option to Phobos.Tracing.Zipkin package"
Since https://github.com/petabridge/Petabridge.Tracing.Zipkin/pull/61 was implemented, `Petabridge.Tracing.Zipkin` now supports the ability to rely on Kafka as the underlying `ISpan` transmission mechanism. This should be exposed through the HOCON configuration options used by Phobos.Tracing.Zipkin.

[2019-01-22 11:45] Aaronontheweb opened #9 "Phobos.Tracing: add ability to specify a default tag for all traces"
Would be really useful for instances where there are multiple environments running side-by-side reporting to the same Zipkin / Jaeger instance and you want to be able to tag which environment a particular trace came from.

[2019-04-09 20:06] Aaronontheweb opened #10 "Add support for Prometheus monitoring"

[2019-04-09 21:26] Aaronontheweb opened #11 "Add support for labels for metrics"
Based on the Prometheus specs, this seems like a useful idea that might help simplify some of the work Phobos.Monitoring has to do internally today - it could also make things easier for end-users too.

[2020-10-29 00:09] #2 closed

[2020-10-29 00:09] #3 closed

[2020-10-29 00:09] #4 closed

[2020-10-29 00:09] #5 closed

[2020-10-29 00:09] #6 closed

[2020-10-29 00:09] #7 closed

[2020-10-29 00:09] #8 closed

[2020-10-29 00:09] #9 closed

[2020-10-29 00:09] #10 closed

[2020-10-29 00:09] #11 closed

[2020-10-29 00:50] Aaronontheweb opened #12 "Metrics: properly track messages transmitted through DistributedPubSub"
Issue report from a customer:

Need to validate that `DistributedPubSub` messages don't get blackholed by the metrics system.

[2020-11-03 15:13] IgorFedchenko commented on #12
Do we have any specs in Phobos for PubSub scenario? Or I will need to implement this? PubSub can be created between several nodes in same OS process, right? Just on different ports?

[2020-11-03 15:26] Aaronontheweb commented on #12
We do not.

How I strongly recommend doing this:

1. https://phobos.petabridge.com/articles/quickstart.html - follow the quickstart tutorial first, so you can see what Phobos metrics look like in a normal application
2. https://github.com/petabridge/akkadotnet-cluster-workshop - try to update Phobos to 1.0.4 in this sample and see what the `DistributedPubSub` message metrics look like here. If the

[2020-11-03 16:27] IgorFedchenko commented on #12
Thanks!

[2020-11-03 17:17] IgorFedchenko commented on #12
P.S. Latest version of phobos is 1.0.3 so far: https://sdkbin.com/publisher/petabridge/product/phobos

[2020-11-03 20:27] Aaronontheweb opened #13 "Tracing: Self.Forward causes entirely new trace to be made"
Version: 1.0.3

## Expected Behavior:

When an actor in the middle of processing a valid trace calls `Self.Forward`, it should be a continuation of the current trace in progress.

## Actual Behavior:

When `Self.Forward` is called, an entirely new trace is created.

[2020-11-04 13:17] IgorFedchenko commented on #13
Some more info about tracing issues:

![Api_trace_flame](https://user-images.githubusercontent.com/9683660/98116213-0c5aea80-1eb9-11eb-8574-3676e43ea3df.jpg)
![Api_spans](https://user-images.githubusercontent.com/9683660/98116219-0ebd4480-1eb9-11eb-8543-3814c850d591.jpg)

![Trace-After-Self Forward](https://user-images.githubusercontent.com/9683660/98116286-21377e00-1eb9-11eb-89fb-712f5ab10a62.jpg

[2020-11-04 19:46] #13 closed

[2020-11-09 18:22] IgorFedchenko commented on #12
@Aaronontheweb So, currently, I have added very simple DistriburedPubSub usage to Phobos.Web sample:
https://github.com/petabridge/Petabridge.Phobos.Web/pull/18

I can see publish-subscribe trace:
![image](https://user-images.githubusercontent.com/9683660/98580484-16be1f80-22d1-11eb-85b9-053dfb9d9c2d.png)

And I can see published message info in `akka_net_akka_messages_recv_total` metrics:
![image

[2020-11-09 22:49] Aaronontheweb commented on #12
Let me check with the customer and see if this matches what they're seeing

[2020-11-17 18:32] #12 closed

[2020-11-19 17:33] Aaronontheweb opened #14 "Phobos trace and span are not properly propagated to Serilog contexts"
From a customer:

[code]

An example of how this got gets used in concert with the `Akka.Logger.Serilog` package inside a running Akka.NET actor (pseudo-code):

[code]

### Expected Results
We'd expect to see the Serilog structured logs contain the `dd.trace_id` and `dd.span_id` properties populated with the values of the current `ITracer.ActiveSpan.Context.TraceId` and `ITracer.ActiveSpan.Context

[2020-11-19 21:07] IgorFedchenko commented on #14
Reproduced this issue. The problem is that Serilog is accessing `ActiveSpan` outside of the scope, and it is `null` in spite of the fact that it is set on global tracer.

The solution to this is using the following `EnrichLogging` implementation:
[code]

Note that you need to get `SerilogLoggingAdapter` adapter, not just `context.GetLogger()`, to have `ForContext` helper working - as stated in the

[2020-11-19 21:07] #14 closed

[2021-02-01 19:07] yohanb opened #15 "Error when reporting to App Metrics statsd to DataDog"
Hi,
not sure if the bug is related to Phobos, AppMetrics or Dogstatsd but we are getting this error:

`Jan 30 20:19:45 *** agent[3330389]: 2021-01-30 20:19:45 EST | CORE | ERROR | (pkg/dogstatsd/server.go:438 in errLog) | Dogstatsd: error parsing metric message '"Akka.NET.akka.messages.recv.meter.value:606|m"': invalid metric type: "m"`

Thanks!

[2021-03-15 13:28] Aaronontheweb opened #16 "Phobos may not work with Akka.DependencyInjection"
Based on a customer reproduction, it looks like Phobos 1.1 does not work with actors that use Akka.DependencyInjection and constructor-based DI. Need to reproduce in our suite and fix.

[2021-03-15 14:28] Aaronontheweb commented on #15
Hi Yohan,

We have some experimental DogStatsD support added here: https://github.com/petabridge/Petabridge.Phobos.Web.DataDog/pull/11 - and we don't appear to run into this error.

Is this issue coming up when you're using the App.Metrics.StatsD reporter?

[2021-03-15 23:49] Aaronontheweb commented on #16
We've been able to reproduce this now - it seems to only occur when Akka.DependencyInjection is used in combination with `/system` actors. This usually shows up in Akka.Cluster.Sharding. We should have a fix for it soon.

[2021-03-16 18:02] yohanb commented on #15
@Aaronontheweb yeah it was with the statsd reporter.

[2021-03-16 19:16] Aaronontheweb commented on #15
ok, thanks @yohanb - we're working on submitting some other patches to the StatsD reporter for App.Metrics right now. I'll open up an issue over there that references this one and let you know when we have a fix.

[2021-03-18 08:59] Arkatufus commented on #15
@yohanb Can I ask what metrics server you're using right now? According to the spec, DogStatsD should support a meter metrics (m)

[2021-03-18 09:09] Arkatufus commented on #15
@yohanb if you're using veneur, then yes, you will get this error. Veneur doesn't support meter metrics.

[2021-03-18 14:18] yohanb commented on #15
@Arkatufus nah I was getting this error with datadog's agent service.

[2021-03-18 17:50] Arkatufus commented on #15
@yohanb I just looked through datadog source code, it turns out that they don't support their own StatsD spec.

This is the list of metrics that I use as a guideline when I code the App.Metrics StatsD exporter:
https://github.com/DataDog/dogstatsd-csharp-client/blob/master/src/StatsdClient/Serializer/MetricSerializer.cs#L10
as you can see, meter metrics is listed there.

These are the metrics that

[2021-03-18 18:51] Arkatufus commented on #15
Here's a way to filter all meters from reporting by modifying the configuration:
[code]

[2021-03-18 19:02] yohanb commented on #15
thanks @Arkatufus !

[2021-03-24 01:05] #16 closed

[2021-03-24 01:05] Aaronontheweb commented on #16
Resolved in Phobos 1.1.1

[2021-03-24 17:56] Aaronontheweb commented on #15
So we're currently using [meters inside Phobos to support the `akka.actor.recv.msgType`](https://phobos.petabridge.com/articles/captured-data.html#tags) metrics. I can actually see those values show up when I run https://github.com/petabridge/Petabridge.Phobos.Web.DataDog/pull/11

We're working with another Phobos customer that uses DataDog and we're seeing this issue with them too - it looks like

[2021-03-24 18:47] Aaronontheweb commented on #15
This might be an issue with the App.Metrics.StatsD library.

It looks like DogStatsD doesn't formally include any definition of a meter - and in fact that's not part of the canonical open source StatsD specification: https://github.com/statsd/statsd/blob/master/docs/metric_types.md

However, you can see in the DataDog documentation that they have an internal type available only via their web API,

[2021-03-24 18:51] Aaronontheweb commented on #15
I think we need to just use the "increment" functions here in order to turn counters into rates in DataDog:

https://docs.datadoghq.com/developers/metrics/dogstatsd_metrics_submission/#count

[2021-03-24 19:00] Arkatufus commented on #15
Right now, in the AppMetrics implementation, all unsopported metrics are converted to Gauge. I can always add an exception and convert Meter to Count

[2021-03-24 19:01] Aaronontheweb commented on #15
Which metrics get reset upon flush in the App.Metrics implementation?

[2021-03-24 19:03] Arkatufus commented on #15
That would depend on how App.Metrics treat the metric data, all the reporter and formatter class does is take whatever bundle of data that got passed to it by the core classes.

[2021-03-24 19:13] Aaronontheweb commented on #15
So here's the mapping in the App.Metrics.DataDog library: https://github.com/AppMetrics/AppMetrics/blob/86200b959356c54e83db965cab133f4162ce1347/src/Reporting/src/App.Metrics.Formatting.Datadog/Internal/DatadogSyntax.cs#L45

And where that data actually gets formatted

https://github.com/AppMetrics/AppMetrics/blob/86200b959356c54e83db965cab133f4162ce1347/src/Reporting/src/App.Metrics.Formatting.Da

[2021-03-24 19:53] Arkatufus commented on #15
I'll look into it, see if we can emulate the same behaviour for StatsD

[2021-03-30 18:44] Aaronontheweb commented on #15
This has been resolved via https://github.com/AppMetrics/AppMetrics/issues/668

[2021-04-29 19:39] wesselkranenborg opened #17 "When using akka.serialize-messages = on together with Phobos it sometimes throws this error during shutdown"
[21:00:03.435 +02:00 Error] [Phobos.Actor.Instrumentation.Actors.EventStreamMonitorActor] [RequestId: ] Swallowing exception during message send
System.Runtime.Serialization.SerializationException: Failed to serialize and deserialize payload object [Phobos.Tracing.SpanEnvelope]. Envelope: [<Phobos.Tracing.SpanEnvelope> from [akka://blueprint-service/user/blueprint-actor_2bc365a3-12e4-4727-aaef-083

[2021-05-20 15:38] Aaronontheweb commented on #17
Good to know - this must be an instance where the Phobos serializer hasn't been loaded for these traces, since those are supposed to be handled via a custom Protobuf serializer that Phobos injects. We'll look into this.

[2021-05-20 15:45] Aaronontheweb opened #18 "Need to cut down on the number of messages captured by /system actors"
In Phobos 1.0 and higher we automatically record data for the following `/system` actors even though tracing for `/system` actors is normally disabled by default:

* Cluster.Sharding actors
* DistributedPubSub actors

The reason why we do this is that these actors in particular interact with a ton of `/user` actors and we need to capture important interactions that occur there. However a lot of no

[2021-05-25 22:43] Aaronontheweb commented on #17
I've been able to reproduce this same error using Newtonsoft.Json

[2021-05-25 22:53] Aaronontheweb commented on #17
So the problem occurs when:

1. `akka.actor.serialize-messages =on`
2. Actor dies and produces a `DeadLetter` and that `DeadLetter` contains a [`SpanEnvelope`] (https://phobos.petabridge.com/api/Phobos.Tracing.SpanEnvelope.html)
3. `DeadLetter` gets wrapped inside another `SpanEnvelope`
4. Deserialization goes `SpanEnvelope` --> deserialize `DeadLetter` payload (uses the `Object` serializer) --> A

[2021-05-26 00:04] #17 closed

[2021-05-26 14:17] Aaronontheweb commented on #18
Testing out a fix for this now - `DistributedPubSub` should only record `IWithTrace` messages, so none of the automated timing messages et al should appear in traces going forward.

[2021-05-26 17:53] #18 closed

[2021-05-27 14:34] Aaronontheweb opened #19 "Tracing: leaking undisposed `IScope`s"
Looks as though we have some issues where a series of deeply rooted `IScope`s never get properly disposed, which retains memory for a prolonged period of time.

Cases we need to investigate:

1. [x] User creates new active `IScope` inside, original `IScope` created by Akka.NET never gets disposed
3. [x] send messages to other actors inside `await` block
2. [x] `await` call while an active `IScope`

[2021-05-27 14:35] Aaronontheweb opened #20 "Tracing: change filtering defaults"
Need to test changing filtering such that it totally excludes filtered messages from active traces, rather than merely "no start" new ones - this is a more aggressive filtering change but it should align with customer expectations more clearly.

[2021-05-27 21:21] Aaronontheweb opened #21 "Tracing: need to validate that stashed messages get their `IScope`s disposed"
Might be another potential source of leaks for https://github.com/petabridge/phobos-issues/issues/19

[2021-06-01 13:06] Aaronontheweb commented on #19
Found the issue here - the problem was that `SpanEnvelope`s were accidentally being logged, rather than their underlying message contents

[2021-06-01 16:12] Aaronontheweb commented on #21
Validated this

[2021-06-01 16:12] #21 closed

[2021-06-01 16:30] Aaronontheweb commented on #20
After a thorough review of the tracing code, we already implement it this way.

[2021-06-04 14:02] wesselkranenborg opened #22 "When using akka.serialize-messages = on together with Phobos it throws errors in the application when trying to fetch the `actor hierarchy`"
When I have Phobos 1.1.3 and Petabridge.CMD 0.8.5 I get the following errors when I want to fetch the actor hierarchy via pbm. Also no hierarchy is shown except /user.

Output of the pbm console:

Copyright 2017 - 2021, Petabridge�.

Commands downloaded from server. type `help` to see what's available
[127.0.0.1:9110] pbm> actor hierarchy
/user

Errors thrown in the application running the actorsy

[2021-06-04 14:21] wesselkranenborg commented on #22
After upgrading to Phobos 1.1.4 this issue also occurs.

[2021-06-04 14:24] seungyongshim opened #23 "When support OpenTelemetry?"
Excuse, me.

Of course, I read to it.

In the near future Phobos will support the emerging OpenTelemetry standard, but as we noted earlier this summer - OpenTelemetry is still somewhat half-baked for .NET as of late 2020. We expect that by the time .NET 6 is released that OpenTelemetry will be widely available and ready for production use, at which point we will ensure that Phobos supports it.

Bu

[2021-06-08 03:12] seungyongshim commented on #23
Hello~

[2021-06-16 19:02] Aaronontheweb commented on #23
Whoops, how did I miss this? Must have missed the email notification for this.

I answered this earlier today in the Akka.NET Gitter chat room, but the short version:

1. OpenTelemetry metrics support is still a work in progress and Prometheus is the only supported provider there - that's a major problem for our customers, many of whom use other platforms such as App Insights, DataDog, InfluxDB, a

[2021-06-16 19:10] Aaronontheweb commented on #22
Thanks @wesselkranenborg - I'll see about marking these messages as not traceable in Petabridge.Cmd. They probably shouldn't be included TBH since there are a huge number of them and tracing `pbm`'s internal operations probably isn't high on anyone's list

[2021-06-16 19:17] Aaronontheweb commented on #19
Figured out this issue, finally:

[code]

Not sure if the issue is the `await` or the `IgnoreActiveSpan()` but I should be able to find out quickly.

[2021-06-16 19:18] Aaronontheweb commented on #19
The above unit test fails with the following:

`Expected allSpans.Count to be 2, but found 3.`

[2021-06-16 19:22] Aaronontheweb commented on #19
It's definitely the `await` - or more accurately, it's the `async` state machine. This also causes the test to fail:

[code]

[2021-06-16 20:13] Aaronontheweb commented on #19
Looks like we might have a fix for this....

## Before
![image](https://user-images.githubusercontent.com/326939/122286253-465f8680-ceb5-11eb-868d-fcb118f38134.png)

## After
![image](https://user-images.githubusercontent.com/326939/122285472-604c9980-ceb4-11eb-882f-8c2d5dcfbc17.png)

[2021-06-16 20:44] Aaronontheweb commented on #19
Simplified this:

[code]

[2021-06-17 00:05] #23 closed

[2021-06-17 16:30] #19 closed

[2021-06-17 17:07] Aaronontheweb commented on #19
Final version of this graph:

![image](https://user-images.githubusercontent.com/326939/122442771-8a5d9480-cf64-11eb-8f2c-463268c4d4ab.png)

[2021-06-17 18:23] #20 closed

[2021-06-29 01:38] seungyongshim opened #24 "How can use Splunk with Phobos?"
Excuse, me.

How can use Splunk with Phobos?

@Aaronontheweb

[2021-06-29 12:51] Aaronontheweb commented on #24
Off the top of my head, probably the easiest way to do this for tracing is via the OpenTelemetry support for Splunk: https://www.splunk.com/en_us/data-insider/what-is-opentelemetry.html#opentracing

You can use the OTel OpenTracing shim to run inside Phobos and gather traces from it that way: https://www.nuget.org/packages/OpenTelemetry.Shims.OpenTracing/

As for metrics - right now I don't believ

[2021-06-30 23:02] #24 closed

[2021-07-07 00:39] seungyongshim opened #25 "Support for Akka.Streams.Kafka?"
Hello~

Support to tracing with Phobos for Akka.Streams.Kafka?

@Aaronontheweb

[2021-07-07 21:23] Aaronontheweb commented on #25
We have some support today based on the materialized actors, but we really need to include an end-to-end example on how to do this.

Going to add it to my to-do list - in particular, we need to propagate the tracing headers from Phobos over the wire on Kafka.

[2021-07-30 20:19] Arkatufus opened #26 "Trace correlation on remote deployed actors using Ask<> does not work."
Remote deployed actor seemed to fail to respond back to an Ask<>() with its tracing context intact.

[2021-08-03 18:14] fscavo opened #27 "Get the current actor settings from Phobos to disable tracing throws exception"
This line of code
**var defaultSettings = PhobosSettings.For(actorSystem).ActorSettings.WithTracing(false)**

throws the following exception when PhobosProviderSelection.Local is used during boostrapping

_**Unable to cast object of type 'Akka.Actor.LocalActorRefProvider' to type 'Phobos.Actor.IPhobosActorRefProvider'**_

**UPDATE**
This is also happening when PhobosProviderSelection.Cluster is us

[2021-08-05 16:12] wijnanjo opened #28 "OpenTelemetry support"
It has been over a year since [this](https://petabridge.com/blog/state-opentelemetry-dotnet/) post on OpenTelemetry support in Phobos. Are there any plans on moving to OpenTelemetry soon ?

We are working on a distributed system and using OpenTelemetry wherever we can. Currently I'm investigating whether I will be able to smoothly integrate our Akka.Net microservice, traced by Phobos using OT. I n

[2021-08-06 12:05] wijnanjo commented on #28
Oops, just realized this is a duplicate of https://github.com/petabridge/phobos-issues/issues/23

[2021-08-06 12:05] #28 closed

[2021-08-10 00:48] Aaronontheweb commented on #26
This has been fixed in `dev`, but we're waiting on Akka.NET v1.4.23 before we push a Phobos update.

[2021-08-10 00:48] #26 closed

[2021-08-10 00:48] Aaronontheweb commented on #27
@fscavo thanks! I'll look into this.

[2021-08-10 13:23] Aaronontheweb commented on #27
I wasn't able to reproduce the issue using any permutations of this:

[code]

But I believe your error is a configuration problem - it looks like Phobos isn't being loaded, that's why it can't find the `IPhobosActorRefProvider`. Could you send us a small example of what your `ActorSystem` configuration looks like? You can post it here or your can send it to us privately via https://sdkbin.com/publ

[2021-08-12 14:20] fscavo commented on #27
This is the phobos configuration used during the creation of ActorSystem
[code]

[2021-08-12 14:33] Aaronontheweb commented on #27
@fscavo try changing this line:

[code]

To

[code]

That should resolve your issue - reason I bring this up is because `BootstrapSetup` is immutable:

https://github.com/akkadotnet/akka.net/blob/2715c36ee20640ad343ffd02a73fbce0d5cf9f0e/src/core/Akka/Actor/ActorSystem.cs#L137-L150

[2021-08-17 12:54] Aaronontheweb commented on #27
@fscavo did you get a chance to try my suggestion from earlier?

[2021-08-17 20:20] fscavo commented on #27
Sorry for the late response @Aaronontheweb
Yes I did and it worked like a charm. Thanks a a lot :)

[2021-08-17 20:47] Aaronontheweb commented on #27
Glad to hear it!

[2021-08-17 20:47] #27 closed

[2021-08-18 14:40] Arkatufus commented on #25
@seungyongshim,

Sorry for the long delay. We're still working on a better implementation for this, but we do have a working sample that implements Phobos tracking and propagating it through Akka.Streams.Kafka. It is still a bit rough, it still need better documentation and polish to make it more automated, but you can use it as a base to write your implementation if you're in a rush.

You can che

[2021-11-29 13:13] fscavo opened #29 "The type initializer for 'Phobos.Actor.Configuration.PhobosProviderSelection' threw an exception"
After having upgraded akka modules to 1.4.28 the following line threw an exception

[code]

And this is the full exception

System.TypeInitializationException: The type initializer for 'Phobos.Actor.Configuration.PhobosProviderSelection' threw an exception.
 ---> System.TypeLoadException: Method 'CreateFutureRef' in type 'Phobos.Actor.PhobosActorRefProvider' from assembly 'Phobos.Actor, Version=1.

[2021-11-29 13:31] fscavo commented on #29
The issue is solved after having updated Phobos to 1.3.0

[2021-12-08 18:34] Aaronontheweb commented on #29
@fscavo good to hear - sounds like this was an issue with the underlying version of Akka.NET being used. We did make some API changes in Akka.NET recently to support new features we've added to Phobos.

[2021-12-08 18:34] #29 closed

[2021-12-22 15:51] Aaronontheweb opened #30 "Akka.Persistence.PersistentActor tracing support for Phobos"
Bug report from a customer sent via email:

Hello, Whilst looking at how we trace requests through our actor systems using Phobos with Datadog, we're stuck at the point at which commands are persisted in our persistent actors. It seems as though one trace ends at the point commands are persisted and another one begins in the callback handler on success.

For example:

[code]

The first trace ends

[2022-01-10 12:19] garethjames-imburse opened #31 "Broken trace when recovering persistent actor in sharded cluster"
We've noticed an issue with Phobos tracing in our sharded cluster when a persistent child actor is started as a command is sent to it. The tracing appears to be working as expected until the child actor starts:

[code]

## Trace Details

### akka.msg.recv_ShardEnvelope
[code]

### akka.msg.recv_ShardEnvelope
[code]

### akka.actor.start
[code]

### akka.msg.recv_RequestRecoveryPermit
[code]

[2022-01-10 13:59] Aaronontheweb commented on #31
Hi Gareth,

I have an open issue for looking into Akka.Persistence in general with Phobos - it looks to us like we don't tie the `Persist` before and after in together correctly. Do you have a timeframe you need this done by? We were going to work on that once we have our OTel tracing beta all the way out the door this month.

[2022-01-10 14:34] garethjames-imburse commented on #31
Hi Aaron,

I wasn't sure if it was the same issue or a different one (albeit related), so I raised it separately. While we were waiting for an update, we put in a workaround for the other persistence issue which is to wrap the call to Persist and short circuit the trace manually as follows:
[code]

In some cases this is working, but in other it's not and the trace in the description is one example

[2022-01-12 23:28] Aaronontheweb commented on #31
Progress update on our end: we've added some prototype instrumentation to capture all actor startup / restart activity prior to processing messages. This is a necessary ingredient for being able to trace recoveries from the point of view of the `PersistentActor`. The next stage is making sure that the persistence plugins themselves can properly correlate the activity on their end - this might requ

[2022-01-13 08:50] garethjames-imburse commented on #31
Thanks Aaron; appreciate the update!

[2022-01-14 16:00] Aaronontheweb commented on #31
Whoops, not closed yet. Just merged in an Akka.NET PR that is needed to implement this in Phobos.

[2022-01-19 19:29] Aaronontheweb commented on #31
Resolved via [Phobos 1.4.0](https://phobos.petabridge.com/articles/releases/RELEASE_NOTES.html#140httpssdkbincompublisherpetabridgeproductphobospackagesphobosactorversions140-january-19th-2022)

[2022-01-19 19:29] #31 closed

[2022-01-19 19:29] Aaronontheweb commented on #30
Resolved via [Phobos 1.4.0](https://phobos.petabridge.com/articles/releases/RELEASE_NOTES.html#140httpssdkbincompublisherpetabridgeproductphobospackagesphobosactorversions140-january-19th-2022)

[2022-01-19 19:29] #30 closed

[2022-01-31 20:17] Aaronontheweb opened #32 "OpenTelemetry: need to add `Baggage` support"
The changes between OpenTracing and OpenTelemetry involve a major shift around how `Baggage` is handled - it's now a standard piece of the OTel spec, not something optional that is left up to the devices of the `ITracer` implementation like how it was in OpenTracing. Therefore, we will need to support it.

* `BaggagePropagator` - https://github.com/open-telemetry/opentelemetry-dotnet/blob/5ddf9a48

[2022-01-31 20:20] Aaronontheweb opened #33 "OpenTelemetry: remove `PhobosSetup`"
OpenTelemetry eliminates the need to pass around references to a shared `ITracer` or `IMetricsRoot` object in order for all traces and metrics to be properly correlated and aggregated. Therefore we can very likely eliminate the `PhobosConfigBuilder` and some of the other objects from Phobos 1.x.

[2022-01-31 20:32] Aaronontheweb opened #34 "OpenTelemetry: fix `Activity.Current` Leaks"
In our internal issue tracker we've found some cases where active traces are leaking, thus breaking correlation inside our system. Happens most frequently around `akka.actor.spawn` and some of the new startup tracking that was added in v1.4 but ported into 2.0.

This is issue to track the status of that issue and others in the wild.

[2022-01-31 21:01] Aaronontheweb opened #35 "OpenTelemetry Plans: Phobos 2.0"
With the launch of [Phobos 2.0.0-beta1](https://phobos.petabridge.com/articles/releases/RELEASE_NOTES.html#200-beta1httpssdkbincompublisherpetabridgeproductphobospackagesphobosmonitoringversions200-beta1-january-26th-2022) we've put our first major stake in the ground around OpenTelemetry and Akka.NET. This issue is to track the scope of what we're working on leading up to Phobos 2.0's eventual RT

[2022-01-31 21:10] Aaronontheweb opened #36 "OpenTelemetry: need to replace `akka.actor.mailbox.depth` with a histogram rather than a gauge"
`ObservableGauge` is non-performant for this case, so instead we should opt to capture this data via a histogram instead.

[2022-01-31 21:18] Aaronontheweb opened #37 "OpenTelemetry: need to redo Phobos dashboards to incorporate new metrics types"
Per https://github.com/petabridge/phobos-issues/issues/36. this will require us to update our dashboards for:

1. [ ] InfluxDb
2. [x] Prometheus
3. [ ] DataDog
4. [ ] **Stretch**: Application Insights

App Insights might be a stretch because their templating system is _extremely_ onerous by comparison to the others. We'll take a look at it nonetheless.

[2022-01-31 21:22] Aaronontheweb opened #38 "OpenTelemetry: need to add termination hook to dispose of TracerProvider and MeterProvider"
If we're fetching or creating `MeterProvider` or `TracerProvider` instances, depending upon whether https://github.com/petabridge/phobos-issues/issues/33 is implemented, we will probably want to make sure we're disposing those when Phobos shuts down in order to prevent any kind of memory leaks.

Any potential memory leak issues will likely show up first in our test suite, since we're creating and

[2022-01-31 21:27] Aaronontheweb opened #39 "OpenTelemetry: need OTel itself out of RC status"
Once the OpenTelemetry package itself is out of RC status, we can ship an RTM version of Phobos.

[2022-02-01 08:29] Aaronontheweb opened #40 "OpenTelemetry: need to start new `RootSpan` when a message is received with no prior trace context"
This will help ensure that we have clean traces when new messages are received without any prior `ActivityContext`

[2022-02-01 08:35] Aaronontheweb commented on #34
Reproduction scenario:

1. Parent actor /user/a receives message
2. `/user/a` spawns actor `/user/a/1/ while processing message
3. `/user/a/` sends `/user/a/1/` a message immediately after spawning it
4. Parent actor completes processing of message

The `parentSpanId` is reported as missing for step 3 of this operation in Jaeger right now, which would indicate that the spans aren't correlated prop

[2022-02-01 08:36] Aaronontheweb commented on #34
Need to add a long-running Akka.Streams scenario and validate that those spans are properly spread out over a histogram

[2022-02-01 09:16] Aaronontheweb opened #41 "Bug: `akka.actor.spawn` still recorded on child actor when life cycle tracing disabled"
Affects versions: 1.4, 2.0

[2022-02-01 12:15] #41 closed

[2022-02-01 17:25] Aaronontheweb opened #42 "Epic: Akka.Streams Support"
Similar to how we completed adding end to end tracing for Akka.Persistence in v1.4, we need to improve how tracing is handled inside Akka.Streams for users going forward.

This includes:

* Breaking up long-running Akka.Streams traces into smaller operations;
* Trying to trace the graph stages themselves, rather than the actors running them - this is a _stretch_ as it requires having access to the

[2022-02-02 08:44] Aaronontheweb opened #43 "Documentation: `PhobosActorSettings` configuration page is out of date - does not show lifecycle tracing options"
https://phobos.petabridge.com/articles/setup/configuration.html#props

This currently does not show our settings around enabling or disabling actor lifecycle

[2022-02-02 10:40] Aaronontheweb commented on #36
Resolved via https://sdkbin.com/publisher/petabridge/product/phobos/packages/phobos.actor/versions/2.0.0-beta3

[2022-02-02 10:40] #36 closed

[2022-02-02 11:12] Aaronontheweb commented on #37
WIP for Mailbox Depth metrics with Prometheus here: https://github.com/petabridge/phobos-dashboards/pull/14

[2022-02-10 18:05] garethjames-imburse opened #44 "Phobos 1.4.x - OpenTracing: Tracing breaks when using Ask().PipeTo()"
We've discovered an issue in Phobos (1.4.0 and 1.4.1) that can be seen in Jaeger when using the Ask().PipeTo() method:

[code]

We see a span for the actor that's asking, and the next span comes with a warning: "**invalid parent span IDs=effe6a359f66ddc6**; skipping clock skew adjustment".

![image](https://user-images.githubusercontent.com/88659554/153468035-791766d4-a4d3-4e8e-811a-1e5a6f1dc795.p

[2022-02-23 17:24] Arkatufus commented on #44
@garethjames-imburse We've fixed this issue, however, to fully fix it, we will need to do an Akka.NET release first.
The fix will be in effect on the next Phobos release after the next Akka.NET release.

[2022-02-28 09:18] garethjames-imburse commented on #44
Thanks @Arkatufus - I'll keep an eye out for the new versions.

[2022-03-08 21:06] Arkatufus commented on #44
@garethjames-imburse

The new version of Phobos with the fix is up, there is a small caveat that you need to call the new `PipeTo` overload and the `Ask` method need to be inside an async method, even when you're not awaiting it.

[2022-03-08 21:06] #44 closed

[2022-03-09 10:24] garethjames-imburse commented on #44
Thanks @Aaronontheweb and @Arkatufus - much appreciated.

[2022-03-09 13:05] object opened #45 "Migrating from OpenTracing.NET to OpenTelemetry.NET"
We have been using Phobos with OpenTelemetry where trace exporter is typically configured like this (in F#):

[code]

The ITracer object is then passed to Phobos bootstrapper.

This is not how OpenTelemetry exporters are configured in .NET 6, here's a new sampe code (in C#):

[code]

I've found [this post](https://damieng.com/blog/2021/11/29/migrating-from-opentracing-to-opentelemetry/) that sugge

[2022-03-09 14:26] Aaronontheweb commented on #45
Hi @object - the new Phobos 2.0 binaries should support this without using the shim.

An example from the OTel branch of https://github.com/petabridge/Petabridge.Phobos.Web/tree/otel

Configure OTel itself:

https://github.com/petabridge/Petabridge.Phobos.Web/blob/2faa71d5634554d50ae55c0b6cbb04ff66ffa37e/src/Petabridge.Phobos.Web/Startup.cs#L53-L78

Consume in Phobos:

https://github.com/petabridg

[2022-03-09 16:13] object opened #46 "Limiting granularity of Phobos distributed traces"
I tried to use Phobos-instrumented system with Honeycomb APM and quickly got into a problem with rate limit. Honeycomb sets maximum rate of 2000 events per second for a dataset (perhaps higher rate for Enterprise account, I didn't check) and our application exceeded that. While this is understandable because each incoming request results in a complex processing workflow across the Akka cluster nod

[2022-03-09 16:20] object commented on #46
Following up this situation, I tried to temprorarily disable Phobos instrumentation and manually create activities for actors I am interested to check out.

[code]

But when I don't use Phobos, StartActivity returns null. I checked the docs, and they say the following:
"If there are no listeners interested in this activity, the activity above will be null. This happens when the final application d

[2022-03-09 17:01] Aaronontheweb commented on #46
I'll write up a longer response to this, but there are definitely ways to accomplish this in Phobos 1.x through:

1. Trace filtering
2. Toggle tracing on/off for specific actors

And in Phobos 2.x you can do both of those plus use OpenTelemetry processors to filter out traces before they're exported to a service like HoneyComb. I'll get to work writing up a more detailed tuning guide on this subje

[2022-03-09 17:04] Aaronontheweb commented on #45
Phobos 2.0 is a mature beta - all of the big stuff on the tracing side has been figured out; still have some outstanding issues around metrics (mailbox depth is the only real question mark there, since OTel doesn't have a performant stand-alone Gauge structure), and we're working on chasing down some bugs related to trace correlation. You can follow our progress here https://github.com/petabridge/

[2022-03-09 17:18] object commented on #46
Thank you. I wasn't aware of either trace filtering or toggle for specific actors. Will appreciated some details on how to achieve this.

[2022-03-09 17:19] object commented on #45
Thank you very much for a quick reponse. I will look into Phobos 2.0.

[2022-03-09 17:19] #45 closed

[2022-03-09 17:20] Aaronontheweb commented on #45
No problem - we also don't have any built-in Phobos dashboards for Phobos 2.0 _other_ than Prometheus, FYI. We're waiting until we get the metrics piece universally resolved before we embark on that.

[2022-03-09 17:21] Aaronontheweb commented on #46
Here's the official literature we have so far: https://phobos.petabridge.com/articles/performance.html#performance-optimization-best-practices

But I can probably go deeper on that

[2022-03-09 17:33] object commented on #46
Great, that's the good start for me.

[2022-03-10 07:30] object commented on #46
Trying to get filtering to work, but still get unwanted messages. This is what I did:

[code]
This is supposed to filter out all message except for the three explicitly specified types above, right? But I still see other messages, both from out domain and Akka system messages (e.g. Akka.Cluster.ClusterHeartbeatSender+Heartbeat) logged.

[2022-03-10 10:51] object commented on #46
Hmm, tried AddIncludeMessageFilter, AddExcludeMessageFilter and AddMessageFilter (with ExcludeTypeFilterRule and IncludeTypeFilterRule), but I am still getting various message types logged.

Is the following understanding correct?
- If I only specify AddIncludeMessageFilter<T>, then only messages of type T will be logged (tried that, didn't work)
- If I only specify AddExcludeMessageFilter<T>, the

[2022-03-10 13:20] Aaronontheweb commented on #46
So the filtering APIs have been, IMHO, intuitive at best and I'd like to simplify what we're doing there. Are you working against Phobos 2.0? I have more leeway to make major changes there and I think I can follow some of the instrumentation patterns that other OTel libraries are doing to accomplish the same goal. I'd be happy to prototype something today and show you what it looks like here.

[2022-03-10 13:26] object commented on #46
I am still on Phobos 1.x. I am working on an OTel proof of concept to demo something tomorrow so I guess I won't be able to switch to Phobos now. So I appreciate a hint about what can be wrong with my filtering. But I can switch to Phobos 2.0 next week, if you think it will work better in that respect.

[2022-03-10 13:27] object commented on #46
Right now I don't seem to get any filtering to work.

[2022-03-10 13:35] Aaronontheweb commented on #46
I'll take a look at the 1.x bits right now then.

[2022-03-10 13:43] Aaronontheweb commented on #46
So the way the filters work:

1. By default, all messages that are _already in a trace_ are included - this behavior can be changed via `.IncludeMessagesAlreadyInTrace(false)` on the builder. This drop a lot of trace traffic when this happens.
2. As long as the traced message in Phobos matches _any_ of your filters, it will be included in the trace.

Can you try `.IncludeMessagesAlreadyInTrace(fal

[2022-03-10 13:55] object commented on #46
Thanks, will do.

[2022-03-10 13:58] Aaronontheweb commented on #46
In the meantime, I'm still going to look at improving this as none of this is intuitive.

[2022-03-10 14:07] object opened #47 "How to propagate external context to Phobos?"
Our app receives messages from RabbitMQ and forwards them to Akka actors. Here's the code enriched with OpenTelemetry context propagation:

[code]

The "target" in the code above is the actor that will process the message just received. The incoming message comes with "traceparent" header set by the message publisher. I can see the distributed trace that includes my activity "mq_receive".

But the

[2022-03-10 15:03] object commented on #46
@Aaronontheweb I see that the number of irrelevant messages has drastically reduced. With a few exceptions, I only see messages from Include filter. Example of a message that is still logged is Akka.Cluster.Tools.PublishSubscribe.Internal.Status that is published by /system/distributedPubSubMediator (Akka.Cluster.Tools.PublishSubscribe.DistributedPubSubMediator).

[2022-03-10 15:17] Aaronontheweb commented on #46
@object that's great to hear - so I just found a bug in Phobos based on your feedback here:

[code]

We implemented this but..... It is not currently being used inside any of the filters 🤦

We'll push an update which includes this

[2022-03-10 15:18] Aaronontheweb commented on #46
In theory your filter should already cover this without this filter - so there's likely another issue with the `DistributedPubSub` filtering specifically that I need to look into.

[2022-03-10 15:24] Aaronontheweb opened #48 "1.4.2: `DistributedPubSub` messages still include despite being filtered out"
@object that's great to hear - so I just found a bug in Phobos based on your feedback here:

[code]

We implemented this but..... It is not currently being used inside any of the filters 🤦

We'll push an update which includes this

_Originally posted by @Aaronontheweb in https://github.com/petabridge/phobos-issues/issues/46#issuecomment-1064172748_

[2022-03-10 20:05] Arkatufus commented on #47
Hi @object,
Can you give us your Phobos configuration?
In the meantime, can you add `Activity.Current = activity;` right after you created it and see if that works?

[2022-03-10 20:46] Arkatufus commented on #48
I need more context with this issue, where should this filter be used? how is the filter system supposed to work? is this filter supposed to be the default filter?

[2022-03-10 23:04] Arkatufus commented on #48
This line of code (WithFiltering) clobbers any user defined filtering rules and replaced it with the custom DistributedPubSub filter:
https://github.com/petabridge/phobos/blob/f4957f088b574f73ecaee44aefb2bba9a6822c9f/src/core/Phobos.Actor.Cluster/PhobosClusterActorRefProvider.cs#L82-L84

[2022-03-11 07:39] object commented on #47
@Arkatufus out Phobos configuration is quite simple, this is F# code:

[code]

The activity is not null because I can see it included in a distributed trace from a transaction originated by another system (that sends a RabbitMQ message to us).

[2022-03-11 09:57] TerryDieckmann opened #49 "Unable to filter out noise from trace open telemetry"
I am currently investigating how we can best use OTel and Phobos in our software solution. During the implementation I can't really figure out how to filter out the messages below without adding an endless list of separate message filters.

The trace-actor-lifecycle option is disabled, but there are still plenty of internal akka (unnecessary) messages.

![image](https://user-images.githubuserconte

[2022-03-11 13:14] Aaronontheweb commented on #49
Thanks Terry - we'll take a look at this.

[2022-03-11 14:42] TerryDieckmann commented on #49
Thanks Aaron,
It might be good to know that I use `Phobos.Actor.Cluster 2.0.0-beta3`. I've tried filtering out the bulk of (to me) unnecessary messages, but when I do that, half of the trace is no longer included because it is a child of `akka.msg.recv GetShardHome`.

[2022-03-11 14:56] Aaronontheweb commented on #47
This is with the OpenTracing shim inside OpenTelemetry? How do you subscribe to that from the POV of the OTEL Sdk?

[2022-03-11 15:15] object commented on #47
Here's essentials of the bootstrapper code:

[code]

[2022-03-11 15:16] object commented on #47
BTW, I started playing with Phobos 2.0 Do you have any source code examples? All repos that I find at aaronontheweb refer to Phobos 1.x.

[2022-03-11 15:59] Aaronontheweb commented on #47
Thanks @object - I will take a look at that.

Best sample I have right now is the `otel` branch of our quickstart: https://github.com/petabridge/Petabridge.Phobos.Web/tree/otel

We're going to get Phobos 2.0 docs up soon though, so this shouldn't be as hard to find.

[2022-03-11 16:22] object commented on #47
And this sample is using Phobos 2. Cool, I will check it out

[2022-03-11 16:31] Aaronontheweb commented on #49
We have another issue related to trace filtering on Phobos 1.4 with #46 - so let's just say that this has been clearly identified as a "user experience" problem across all use cases ;)

We learned some lessons on how to handle filtering more robustly when we implemented type filters for security purposes inside Hyperion https://github.com/akkadotnet/akka.net/discussions/5329#discussioncomment-1560

[2022-03-11 19:24] Aaronontheweb commented on #34
I have been able to verify that it is indeed the `akka.actor.spawn` operation that is being leaked. Have conclusive proof now.

[2022-03-12 12:19] object commented on #47
@Aaronontheweb

Built small apps using Phobos 2.0. I can confirm that I distributed traces are propagated all the way, and after RabbitMQ messages are consumed its propagation context is used by Phobos actors.

I will continue testing this with a bigger app, but so far it looks good. If it works fine in Phobos 2.0, there is probably no need for you to spend time on investigating this issue for Pho

[2022-03-14 12:32] Aaronontheweb commented on #46
Ok, looks like @Arkatufus has patched this - we will push a new Phobos release in the next day or two.

[2022-03-16 13:49] Aaronontheweb commented on #40
This is resolved and will be released in next Phobos 2.0 update.

[2022-03-16 13:49] #40 closed

[2022-03-17 13:09] Aaronontheweb commented on #46
Update on this - @Arkatufus did indeed patch the `DistributedPubSub` issue but I decided that our filtering system, generally, isn't robust enough because it doesn't do the following things well:

1. Distinguish between traces that are explicitly rejected versus "not handled" by a filter - which makes it easy for subsequent rules to accidentally override a previous rule that rejected the message.

[2022-03-17 13:10] Aaronontheweb commented on #49
Wrote up our plans for addressing this on a related issue here: https://github.com/petabridge/phobos-issues/issues/46#issuecomment-1070908283 - would love your feedback on it @TerryDieckmann

[2022-03-17 13:18] object commented on #46
This looks good and reasonable @Aaronontheweb. I am already on Phobos 2, so once you have a beta that supports it, I can give it a try.

[2022-03-18 04:08] Aaronontheweb commented on #49
Hi @TerryDieckmann - we have pushed new Phobos 2.0 binaries that have an API change that should nip this problem in the bud.

Please see the release notes here and follow the configuration instructions - I think this should help quite a bit: https://phobos.petabridge.com/articles/releases/RELEASE_NOTES.html#200-beta4httpssdkbincompublisherpetabridgeproductphobospackagesphobosactorversions200-beta4

[2022-03-18 04:08] Aaronontheweb commented on #46
Hi @object  - we have pushed new Phobos 2.0 binaries that have an API change that should nip this problem in the bud.

Please see the release notes here and follow the configuration instructions - I think this should help quite a bit: https://phobos.petabridge.com/articles/releases/RELEASE_NOTES.html#200-beta4httpssdkbincompublisherpetabridgeproductphobospackagesphobosactorversions200-beta4-and-15

[2022-03-18 04:08] Aaronontheweb commented on #47
Ok, thanks @object - I'll mark this as closed for now.

[2022-03-18 04:08] #47 closed

[2022-03-18 08:02] TerryDieckmann commented on #49
I will have a look, thanks!

[2022-03-18 14:15] TerryDieckmann commented on #49
I've implemented my own tracer filter and it works great! Traces are complete and not full of messages we don't really need. Thank you, Aaron!

[2022-03-18 14:16] #49 closed

[2022-03-18 14:16] Aaronontheweb commented on #49
Glad to hear it!

[2022-03-18 19:04] Aaronontheweb opened #50 "1.4.*: `propagate-settings-to-children` isn't propagated when using Akka.DI or Akka.DependencyInjection"
Reproduction:

[code]

Create a parent actor with:

[code]

Then create some child actors using Akka.DI or Akka.DependencyInjection.

## Expected

Child actors would have tracing and monitoring.

## Actual

Child actors do not have tracing and monitoring.

[2022-03-19 00:42] Aaronontheweb commented on #50
This appears to pass with the current Phobos v1.5.0-beta1 branch:

[code]

[2022-03-21 13:41] Aaronontheweb commented on #34
This has been resolved as part of Phobos 2.0.0-beta4

[2022-03-21 13:41] #34 closed

[2022-03-21 13:49] Aaronontheweb opened #51 "Need to add Phobos 2.0 documentation to website"
Need to:

- [x] split API reference documentation, in clearly demarcated areas, between Phobos 1.x and 2.x
- [x] split conceptual documentation for configuration into 1.x and 2.x usages
- [ ] split QuickStart tutorial into 1.x and 2.x usages

[2022-03-21 14:27] BobbyMorris commented on #50
Before I generate a code sample showing the same kind of registrations, functional prop injection, and group router setup the involved actors are using...

[code]

I was probably mistaken, as the children I said I wasn't seeing traces for after that addition to the HOCON - the traces for them were them logging a debug statement during pre-start. There is no active message passing between parent an

[2022-03-21 14:28] Aaronontheweb commented on #39
https://github.com/open-telemetry/opentelemetry-dotnet - need to keep an eye on the releases tab here

[2022-03-21 15:02] Aaronontheweb commented on #50
Ah, I think I know what your issue is - you need to set `trace-actor-lifecycle = on` in order for `PreStart` to be traced properly.

[2022-03-21 15:02] #50 closed

[2022-03-21 20:10] Aaronontheweb commented on #38
No longer needed. Resolved by removing `PhobosSetup`

[2022-03-21 20:10] #38 closed

[2022-03-21 20:11] #33 closed

[2022-03-22 12:37] Aaronontheweb commented on #46
Hi @object , have you been able to give this a try yet?

[2022-03-22 16:11] object commented on #46
@Aaronontheweb What happens with the intermediate spans that don't satisfy filter conditions?

Scenario 1.  "don't trace any messages under any circumstances unless they implement the FilteredMessage base class."

We have a transaciton that consists of spans [FilteredMessage1; NotFilteredMessage; FilteredMessage2]
The transaction contains NotFilteredMessage that should be filtered out. Will NotFil

[2022-03-24 18:22] Aaronontheweb opened #52 "Phobos 2.0: need to enforce OTel semantic conventions for metrics"
https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/metrics/semantic_conventions

[2022-03-28 14:28] #52 closed

[2022-03-29 12:20] #46 closed

[2022-03-29 13:14] #32 closed

[2022-04-08 12:52] andrew-lewell opened #53 "DataDog actor monitoring that was working with Phobos.Actor 1.2.5 now not working after upgrading to 1.4.2"
Hi, I have set up DataDog monitors to trigger alerts for actor restarts and it was working fine with 1.2.5 but after upgrading Phobos.Actor to 1.4.2 it does not seem to trigger them anymore. Any ideas what could be the issue here? Has something changed around the Akka.NET.akka.actor.restarts.counter.value?

[2022-04-08 13:40] Aaronontheweb commented on #53
Off the top of my head, the only Phobos-specific thing I can think of that may have had an impact was when we added actor lifecycle tracing in 1.4 - but that change shouldn't have affected any metrics around actor restarts: https://phobos.petabridge.com/articles/releases/RELEASE_NOTES.html#140httpssdkbincompublisherpetabridgeproductphobospackagesphobosactorversions140-january-19th-2022

[2022-04-08 13:44] Aaronontheweb commented on #53
Looks like Phobos 1.4 depends on App.Metrics 4.3.0 https://sdkbin.com/publisher/petabridge/product/phobos/packages/phobos.monitoring/versions/1.4.2

https://sdkbin.com/publisher/petabridge/product/phobos/packages/phobos.monitoring/versions/1.2.5 - 1.2.5 used App.Metrics 4.2.0

There were a number of changes to the StatsD packages between 4.2.0 and 4.3.0 - are you using Phobos with the App.Metrics

[2022-04-08 14:08] Aaronontheweb commented on #53
Could possibly be related to https://github.com/AppMetrics/AppMetrics/issues/682 - but we'd need to know which versions of App.Metrics' packages for DataDog you're using

[2022-04-08 16:36] andrew-lewell commented on #53
I am using App.Metrics 4.3.0.

I'll take another look at the metric name, perhaps it has changed. Thanks for the tip.

[2022-04-08 16:45] Aaronontheweb commented on #53
Did you upgrade from an earlier version of App.Metrics as part of this? If that's the case then the metric name is probably the best guess.

[2022-04-12 13:06] object opened #54 "How to disable tracing of Akka.Persistence messages?"
I am using latest Phobos 2.0 beta. I have the following configuration for Phobos tracing:

[code]

When I run the application, I can see traces for all messages related to state recovery of persistence actors, like Akka.Persistence.ReplayedMessage, Akka.Persistence.RecoverySuccess etc., and this is indeed a huge amount of them.

We are not interested in them, and the only way to disable their trac

[2022-04-12 15:34] Aaronontheweb commented on #54
Yes, we should disable Akka.Persistence tracing when `trace-actor-lifecycle` is off.

[2022-04-12 15:46] object commented on #54
I am using the latest Phobos 2.0 beta. Do you suggest using b.AddCustomMessageFilter(filterRule) instead of AddExcludeMessage/AddIncludeMessage?

[2022-04-12 15:48] Aaronontheweb commented on #54
ah no, if you're using the `AddExclude` / `AddInclude` message then you should be fine using the latest beta - sorry, I misread your comment.

[2022-04-12 16:03] object commented on #54
But what I described above is a bug, right? trace-actor-lifecycle=off should have disabled all persistent state recovery messages?

[2022-04-12 16:04] Aaronontheweb commented on #54
It's definitely a bug, or at the very least a configuration oversight on our part.

[2022-04-12 16:30] Aaronontheweb commented on #53
@jackowild let me take a look and see if we did anything - because that is _very_ odd. We haven't really touched the metrics code that much in the 1.x branch recently.

[2022-04-12 16:34] Aaronontheweb commented on #53
Welp, I found the problem @jackowild - from the internals of Phobos.Metrics:

![image](https://user-images.githubusercontent.com/326939/163010676-eeb85843-8497-44bd-8e70-f05d0f6ef53e.png)

We fixed a small `NullReferenceException` that could happen with App.Metrics but apparently did it in such a way that overwrote all GlobalTags previously set by the user. This happened in Phobos 1.4.1.

We're ab

[2022-04-12 16:36] Aaronontheweb commented on #51
Still need to update quickstart for Phobos 2.0 but that should be easy to do once the bits are published and the sample can be updated.

[2022-04-12 16:36] #43 closed

[2022-04-12 16:37] jackowild commented on #53
:D that will be it! Thanks for the quick response, we'll look out for 1.5 + 2.0

[2022-04-12 20:23] Aaronontheweb commented on #53
This is now resolved in Phobos 1.5.1 https://sdkbin.com/publisher/petabridge/product/phobos/packages/phobos.actor/versions/1.5.1

[2022-04-12 20:23] #53 closed

[2022-04-12 20:25] Aaronontheweb commented on #54
This has now been fixed in 2.0.0 via the `phobos.tracing.trace-akka-persistence = off` setting. This will stop the journal and the snapshot store from recording any traces.

However, _your_ user-defined actors may still log the `WriteMessagesSuccessful` messages that they receive when processing events from the journal. Do you need us to filter those out as a well? That's a bit more intrusive but

[2022-04-12 20:26] Aaronontheweb commented on #54
Also, I would link to our documentation where it shows these settings but it's in the middle of being deployed right now 😅

[2022-04-13 10:32] object commented on #54
@Aaronontheweb I tried the latest Phobos 2.0 package, and now I am getting roughly half of persistence messages when I set trace-akka-persistence = off.

Without this filter I am getting the following messages:
1. First come Akka.Persistence.ReplayedMessage for each row in the event journal. They have actor path /system/akka.persistence.journal.sql-server
2. Upon the state recovery comes Akka.Pers

[2022-04-13 13:18] Aaronontheweb commented on #54
Ok, we'll do what we did for filtering out `DistributedPubSub` spam and add a built-in filter for this.

[2022-04-13 16:15] object commented on #54
Cool. I will test it.

[2022-04-13 17:38] object commented on #54
Works as it should, closing the issue.

[2022-04-13 17:38] #54 closed

[2022-04-19 16:21] Aaronontheweb commented on #39
Done, and will be incorporated into Phobos 2.0.2

[2022-04-19 16:21] #39 closed

[2022-04-19 16:21] #51 closed

[2022-04-19 16:21] Aaronontheweb commented on #51
Done as of last night

[2022-04-20 01:16] object opened #55 "Attempt to create a root span results in a child span"
I am trying to customize trace span hierarchy and create root spans in some places to start a logical span chain. To illustrate this on a simple example I chose the first lesson from Akka.NET Bootcamp where messages are sent between ConsoleReaderActor and ConsoleWriterActor. I customized ConsoleReaderActor code so it looks like this:

[code]

However, "reacer.receive" span is still created as a ch

[2022-04-20 06:28] object opened #56 "How to prevent incoming messages from forming an endless span hierarchy?"
For each incoming message for an actor Phobos creates a child span, so if this is a long living actor, its incoming messages forms an endless trace transaction. This may not be suitable for a worker actor (e.g. routee executing commands). A simple illustration is ConsoleReaderActor from the Akka.NET Bootcamp. Each word typed on a keyboard can be considered as a transaction root that starts with a

[2022-04-20 09:16] object commented on #55
Or is this the consequence of https://github.com/open-telemetry/opentelemetry-dotnet/issues/2803?

[2022-04-20 15:53] Aaronontheweb commented on #55
If it doesn't, that might be because we park the automatically generated active span inside a property into the `PhobosActorCell` and that still gets used by the `IActorRef.Tell` methods.

Worth noting:

[code]

When you start a `RootSpan` in OTel, it's not automatically set as the new `Active` span - you have to explicitly set it as such:

[code]

[2022-04-20 16:03] Aaronontheweb commented on #56
It's very difficult for us to tell, automatically, whether or not operations should be treated as child or siblings - i.e. the `Link`s you can customize on a given span. Probably the best way to handle this is to:

1. Exclude the messages using `ITraceFilter`, even if they have an active `SpanContext` inside of them;
2. Grab the `Context.GetInstrumentation().UsableContext` - this lets you access a

[2022-04-20 16:10] Aaronontheweb commented on #55
I'll work on some repro specs for this

[2022-04-20 19:48] object commented on #55
Tracer.WithSpan(rootSpan) makes the span root but that span remains isolated - it does not become a part of actors' span chain.

[2022-04-20 19:50] object commented on #56
Thanks @Aaronontheweb. I was not aware of UsableContext. It might work. I will book an hour with you so we can talk about this in depth.

[2022-04-20 19:54] Aaronontheweb commented on #55
Got it - I'll put a new snapshot test in for this scenario and see what we need to do differently to handle this scenario appropriately.

[2022-05-04 19:46] #37 closed

[2022-05-04 19:46] Aaronontheweb commented on #35
Phobos 2.0 shipment complete.

[2022-05-04 19:46] #35 closed

[2022-05-11 07:29] gerardpeters opened #57 "Serializer exception when using Phobos and Akka.Hosting"
Hi,

I changed parts of our system to use the new Akka.Hosting with Phobos. This works well until I add a ShardRegion to the service. In Lighthouse an exception is logged:

[code]

Found that serializer 210 is used by Phobos. When removing the WithShardRegion from the startup everything is fine.
The code I use in the startup of the service with the sharding region:
[code]

And the hocon inside akk

[2022-05-11 12:26] Aaronontheweb commented on #57
@gerardpeters two possibilities here:

1. Lighthouse shares the same `akka.cluster.role` as the `ParcelMessageExtractor.ClusterShardingRole` and is thus receiving some of the sharding messages which get traced by Phobos or
2. Akka.Hosting is injecting the configuration it produces from this fluent builder incorrectly, which is causing Lighthouse to pick up messages from the sharding system that it

[2022-05-11 12:47] Aaronontheweb commented on #57
I've checked the Akka.Hosting code and can confirm this is not an issue in the library there - we use that `ShardRegionProxy` line in a couple of areas inside our own demo applications and it works as expected. Can you check to make sure you're not passing in a `null` or `string.Empty` value for the role name in your `WithShardRegionProxy` call? Or that the role name doesn't equal one used by ligh

[2022-05-11 14:32] gerardpeters commented on #57
@Aaronontheweb
I logged the config on start. Lighthouse has one role, which is Lighthouse. The RoleName for the shardRegion is a constant which is indeed not `null` or `string.empty`. Removing the `WithPhobos` line removes the exception.
I looked at the sql sharding example and didn't see anything obvious that I'm missing

[2022-05-11 14:39] Aaronontheweb commented on #57
Can you share a copy of your Lighthouse setup? The issue is the sharding messages going where they should not - the trace serialization errors are just highlighting that

Sent from my iPhone

[2022-05-12 07:37] gerardpeters commented on #57
I was using an old version of the the lighthouse repository. I tried the docker image
[code]
But without any success..

[code]

[2022-05-12 12:01] Aaronontheweb commented on #57
I'll see if I can reproduce this @gerardpeters

[2022-05-13 02:59] Aaronontheweb commented on #55
@object this should be fixed in https://phobos.petabridge.com/articles/releases/RELEASE_NOTES.html#203-beta1-may-12th-2022

[2022-05-13 03:01] Aaronontheweb commented on #56
Hi Vagif, please give Phobos 2.0.3-beta1 a try - it has a new setting for disabling the automatic creation of child spans upon receive. You can see the instructions on how to use this feature here https://phobos.petabridge.com/articles/releases/RELEASE_NOTES.html#203-beta1-may-12th-2022 - along with code for being able to manually extract the sender's context and use it to create your own spans go

[2022-05-13 18:50] Arkatufus commented on #57
@gerardpeters
Which lighthouse version did you use? I used the latest in the sharding sqlserver sample project and it works just fine.
This is the `docker-compose.yaml` file that I used to set up the project:
[code]

[2022-05-13 18:55] Arkatufus commented on #57
The code to setup Akka in the web app program is quite similar to your code snippet:
[code]

[2022-05-16 07:17] gerardpeters commented on #57
I used the latest 1.6.1 version. But it seems that the problem is when using the overload for `WithPhobos` to register an `ITraceFilter`.
When i use `.WithPhobos(AkkaRunMode.AkkaCluster)` I don't get any errors in Lighthouse. But when I use `.WithPhobos(AkkaRunMode.AkkaCluster, new PhobosNoiseTraceFilter())` the deserialization errors are thrown and the cluster gets unstable.

The `PhobosNoiceTrac

[2022-05-16 11:47] object commented on #56
@Aaronontheweb I am trying Phobos 2.0.3-beta1. If I disable automatic creation of child spans they are no longer created. But I am having problem of creating my own, probably because I don't have this code in my actors:

[code]

I don't find any traces of GetActiveSpan message. Didn't find it in Phobos namespaces, nor in OpenTelemetry ones. Where is it defined?

And if this is a missing link, then

[2022-05-16 15:19] Aaronontheweb commented on #56
`GetActiveSpan` was just a sample message from my unit test - it's not specific to Phobos itself.

The real piece of code you need to create your own spans is this (from the other sample in the docs):

[code]

`Context.GetInstrumentation().UsableContext` is what will allow you to access any `SpanContext` that has been propagated to you. Please let me know if that helps!

[2022-05-16 15:52] Arkatufus commented on #57
@gerardpeters Thank you for the last hint, I finally able to reproduce the bug. We'll work on this ASAP

[2022-05-16 17:06] object commented on #56
Thanks @Aaronontheweb. Still stuggling to create my own spans, but I need to investigate it more. Will get back to you once I know more.

[2022-05-18 08:17] object commented on #56
In general this new Phobos feature addresses my issue so I am closing this one. I will open a new issue to discuss a couple of details of how this feature works.

[2022-05-18 08:17] #56 closed

[2022-05-18 09:01] object opened #58 "Custom span creation with Phobos 2.0.3-beta1"
I created a small repo to demonstrate the issues I am desciribing below:
https://github.com/object/AkkaWinTailWithPhobos

The repo is using WinTail sample from Akka.NET Bootcamp.

On start the root actor (ConsoleReader) receives a message "start" followed by user input.

User input in all tests consist of 4 strings:
123
456
7890
exit

**1. Default span creation (create-trace-upon-receive = on)**

[2022-05-24 11:33] gerardpeters commented on #57
Hi @Arkatufus, do you have any ETA? And is this problem specific to the filter we use?

[2022-05-25 01:56] Aaronontheweb commented on #57
I've been able to reproduce this issue, and it was _a lot_ trickier than I anticipated. However, I believe this is now fixed and we should have a release soon.

[2022-05-25 14:21] Aaronontheweb commented on #57
I have a fix for this available but I need to return to my home computer and run NCrunch on it for a while (out of the office today) before I sign off on it - the fix is no good if it only solves the problem 99.9% of the time. Release probably won't happen until Friday at this rate.

[2022-05-25 14:56] Aaronontheweb commented on #58
ah, I think I know why this is - actor lifecycle tracing is still on. Guess I need to have that implicitly disabled when automatic span creation is turned off.

[2022-05-25 20:40] Aaronontheweb commented on #58
That's a relief - in this case, this is still a bug in our implementation then. We're about to push a 2.0.3 that addresses https://github.com/petabridge/phobos-issues/issues/57 - I'll take another stab at fixing this once that's pushed.

[2022-05-26 13:33] #57 closed

[2022-05-26 15:46] Aaronontheweb commented on #57
Fix is now available in Phobos 2.0.3 https://phobos.petabridge.com/articles/releases/RELEASE_NOTES.html#203httpssdkbincompublisherpetabridgeproductphobospackagesphobosactorversions203-may-26th-2022

[2022-05-31 11:30] #55 closed

[2022-05-31 11:31] object commented on #58
@Aaronontheweb Do you have an ETA for this fix? Let me know if you need to validate the fix candidate.

[2022-05-31 19:31] Aaronontheweb commented on #58
No ETA yet, been bogged down on a very weird Akka.Cluster.Sharding issue but I'll start looking into this tonight.

[2022-06-01 09:17] gerardpeters opened #59 "Lots of noice in logging when using cluster sharding"
Hi,

I recently added phobos in production and I see a lot of log messages which seems to come from phobos.
![image](https://user-images.githubusercontent.com/5683331/171370385-37667535-3b24-43b9-b25d-ad518e1046be.png)

The all are logged under the same trace id. But I cannot find that particular trace anywhere in our traces.
An example of the details of one of those `message` logs:
![image](https

[2022-06-01 20:05] Aaronontheweb commented on #59
This sounds, to a degree, like Elastic doing the wrong thing with OTel data. But I could turn this logging off via settings in Phobos. I'll look into doing that.

[2022-06-01 20:52] Aaronontheweb commented on #58
This is fixed - forgot to add an `if` statement to check to see if `create-trace-upon-receive = on` when an actor receives a message that has no active trace associated with it.

[2022-06-02 12:23] object commented on #58
@Aaronontheweb Looks promising. Can you push a prerelease of 2.0.4 version of Phobos so I can also run some tests?

[2022-06-02 12:34] Aaronontheweb commented on #58
I'm going to push 2.0.4 for real later today once I have a fix in-place for https://github.com/petabridge/phobos-issues/issues/59

[2022-06-02 16:52] #59 closed

[2022-06-02 16:55] #58 closed

[2022-06-02 17:40] Aaronontheweb commented on #58
Phobos 2.0.4 is now live and should help resolve this issue: https://phobos.petabridge.com/articles/releases/RELEASE_NOTES.html#204httpssdkbincompublisherpetabridgeproductphobospackagesphobosactorversions204-june-02-2022

Give that a try and let us know if that solution works better for you.

[2022-06-02 17:41] Aaronontheweb commented on #59
https://phobos.petabridge.com/articles/releases/RELEASE_NOTES.html#204httpssdkbincompublisherpetabridgeproductphobospackagesphobosactorversions204-june-02-2022 - Phobos 2.0.4 is now live and includes a new setting that should resolve this issue:

`phobos.tracing.log-message-events = on`, which when set to `off` will disable the creation of `waiting` and `message` events from being added to each au

[2022-06-02 19:43] object commented on #58
Thanks @Aaronontheweb. Yes, I am writing some helper methods so the code will look more succinct, similar to what you suggested. I was at first confused that there is no TelemetrySpan - because in the output trace it looks like it is. But of course this is because I am now constructing it by hand from the context. So I can fully shape span topology. Makes sense.

[2022-06-03 15:50] object opened #60 "Span is created for akka.actor.ask even when create-trace-upon-receive is set to off"
I am using Phobos.Tracing 2.0.4 with custom span creation with UsableContext, here's my tracing setup:

[code]

There should be no actor trace spans created by Phobos, only spans created by me explicitly. But there is one type of trace span still left: the one created from Ask operations when a message is sent from an intermediate actor (having path like "akka://APP_NAME/temp/h").

These ask-spans

[2022-06-03 16:47] Aaronontheweb commented on #60
This fix is a _little_ tricky because I can't turn it on / off on a per-actor basis, but we can make it follow the defaults for the entire `ActorSystem`.

[2022-06-03 16:47] Aaronontheweb commented on #60
We should have a fix out for this by Monday.

[2022-06-06 18:56] Aaronontheweb commented on #59
hi @gerardpeters , did this upgrade work for you?

[2022-06-06 20:51] Aaronontheweb commented on #60
Turns out _we can_ disable this on a per-actor basis, which we have. Working on getting a release out now.

[2022-06-06 21:50] Aaronontheweb commented on #60
I've just pushed Phobos 2.0.5 to Sdkbin - upgrading to that version of the package will resolve this issue.

[2022-06-07 07:27] gerardpeters commented on #59
Yes, much appreciated! When I have the time I'll try to look into Elastic APM and the correlation of the messages but for now all looks good.

[2022-06-07 07:41] object commented on #60
@Aaronontheweb Thanks, looking good!

[2022-06-07 15:07] object opened #61 "UsableContext value becomes NULL in the middle of processing chain"
I am using Phobos 2.0.5 and control my own trace spans using UsableContext. In some scenarios instead of a single trace transation Phobos creates two, breaking the chain of spans. Debugging the code shows that GetInstrumentation().UsableContext doesn't have a value set (it's a Nullable&lt;SpanContext&gt;) even though it was present when the previous actor in chain sent a message to the current act

[2022-06-07 18:51] object commented on #61
Ah, then this can be a problem with F# API because to implement actor state machine, the F# API use multiple actor computation expression for an actor, each expression with its own Receive call. I am closing this issue and will create a simple F# sample to further investigate this issue.

[2022-06-07 18:51] #61 closed

[2022-06-09 08:58] object opened #62 "Stashing message may result in reset UsableContext"
I am investigating the issue that I first described here: https://github.com/petabridge/phobos-issues/issues/61

I have a scenario where a message is stashed, then unstashed and processed. A simplified workflow looks like this:

1. Actor A receives message M1
2. Actor A sends message M2 to actor B
3. Actor B receives message M2 in state B1
4. Actor B stashes message and goes to a state B2
5. Actor

[2022-06-09 10:28] object commented on #62
The following example illustrates the problem:

[code]

[2022-06-09 10:29] object commented on #62
In the example above stashing a message breaks the trace transaction.

[2022-06-09 13:49] Aaronontheweb commented on #62
@object got it - looks like this is another edge case we need to handle differently around stashes. Stashed operations are a little unusual in that we typically capture the "live" span inside the stash and don't dispose it until it's finally processed. I'll need to see what we can do about handling that differently when automatic span creation is disabled.

[2022-06-09 14:38] object commented on #62
@Aaronontheweb yes, it looks like span context is disposed when the message is stashed, and since stashing essential technique this needs to be resolved in order for manual span creation to work.

[2022-06-09 14:54] Aaronontheweb commented on #62
I'll get right on it - as you can tell, there was quite a balancing act involved in making all of these edge cases work well with automatic span creation. Re-discovering all of that was we put the process into reverse.

[2022-06-10 18:59] object commented on #62
Hmm, I don't know yet. My first thought is when creating spans manually all creation decisions should be in hands of the one managing spans so perhaps it should be turned off.

[2022-06-10 19:06] Aaronontheweb commented on #62
Ok, I think I can manage that. If my reproduction spec I wrote for this issue passes with it, should be no big deal.

[2022-06-10 19:12] Aaronontheweb commented on #62
Ok, that was trivially easy to manage. Will be shipping it without those spans being automatically created.

[2022-06-10 19:19] object commented on #62
Great. Thanks for that. I will test it on Sunday.

[2022-06-10 19:20] Aaronontheweb commented on #62
[code]

This produces a single trace with 2 spans - does that look like it'll meet your requirements?

[2022-06-10 19:26] object commented on #62
I am not at a computer now but it looks like what I need.

[2022-06-10 19:26] Aaronontheweb commented on #62
Ok, we'll ship it.

[2022-06-13 12:53] Aaronontheweb commented on #62
Hi @object

Forgot to mention this, but we shipped this fix on Friday: https://phobos.petabridge.com/articles/releases/RELEASE_NOTES.html

[2022-06-13 12:53] #62 closed

[2022-06-13 13:16] object commented on #62
@Aaronontheweb I tested it today, it works as expected.

[2022-06-13 13:16] Aaronontheweb commented on #62
Glad to hear it!

[2022-07-08 16:13] Aaronontheweb opened #63 "Create a gauge for all alive actors of each type in any given `ActorSystem`"
This is a fairly significant change, but it should make it much easier for users to get an immediate read on how many total actors are alive in each node for each actor type.

Currently, in order to get this data developers have to subtract `akka.actor.created` - `akka.actor.stopped`, which are counters. This works well on platforms like Prometheus, but horribly in environments like Application In

[2022-07-13 12:43] object opened #64 "How to filter tracing by actor path?"
We are getting many traces from Ask invocations (this is another issue that I will file, trying to reproduce it on a small example), and to get rid of Ask traces I want to exclude traces by actor path. All Ask operaions include sending a message to an intermediate actor that has a path akka://<systemName>/temp/<letter> and I want to filter out all messages sent to actors /temp/*. I remember @Aaron

[2022-07-13 13:30] object opened #65 "Manually created trace spans don't seem to flow across the cluster"
I am using Phobos 2.0.6 and set "create-trace-upon-receive" flag to "off", so all trace spans are managed explicitly by the application. Application runs in an Akka cluster, and apparently when a message is sent to an actor running in a different cluster node (we use cluster sharding), the trace span created in a different node is not consolidated with the original one. If all actors runs in a sin

[2022-07-13 14:19] Aaronontheweb commented on #65
We'll set up an integration test that uses Akka.Cluster.Sharding with `phobos.tracing.create-trace-upon-receive = off` and see if we can reproduce this. I think this might be an issue with sharding specifically.

[2022-07-14 01:28] Aaronontheweb commented on #65
We think this issue is specific to how sharding works - spans are only designed to make it a single hop in Phobos.

[2022-07-14 01:30] Aaronontheweb commented on #64
Hi @object - when automatic span creation is turned on we don't have the ability to filter traces based on the path currently. We can definitely disable `Ask` traces with a new setting if you'd like.

[2022-07-14 08:35] object commented on #64
@Aaronontheweb is there any tracing scenario when filter based on the path can be enabled? I am still testing various configuration options, so if there is a way to control selective span creation based on actor paths, I'd like to give it a try,

When it comes to Ask, we are definitely interested in disabling messages sent to an internal /temp/xxx actor. I also wonder whether traces from this acto

[2022-07-14 08:39] object commented on #65
I see. But when create-trace-upon-receive is on, then messages delivered using cluster sharding form trace transcations that spread across the cluster nodes, at least in some scenarios. So perhaps this just context propagation error for certain use cases (including create-trace-upon-receive=off).

[2022-07-15 19:27] Aaronontheweb commented on #64
It wasn't until pretty recently that `Ask<T>` operations could be traced - we added it because it's a popular option for developers building Web APIs. But I could easily add a toggle to disable it. When automatic span creation is on we are able to correlate this using the corresponding `msg.recev` span that occurs right afterwards. I believe we were limited from an API pov - which is why we don't

[2022-07-15 19:28] Aaronontheweb commented on #65
After @Arkatufus was able to reproduce this issue I've realized that this is a somewhat larger design problem when automatic span creation is turned off - actors that aren't manually programmed by the end-user can't create any spans so trace propagation stops.

We'll need to redesign it to function similarly to some of the remoting actors, which allow previous trace contexts to flow via `UsableCon

[2022-07-15 20:10] object commented on #65
I suspected this could be related to span creation turned off. Let me know when you have something I can test. Next two weeks I will have more flexibility to work on this issue, so I can verify new version the same day you will release it.

[2022-07-27 13:05] Aaronontheweb commented on #64
I @object - it's been a while since we discussed this but I wanted to let you know that we're picking up work on this and your other issue today.

[2022-07-27 20:42] #64 closed

[2022-07-27 22:18] Aaronontheweb commented on #64
This issue was closed automatically because I just merged a fix for this:

[code]

or

[code]

We'll be rolling this into the next release of Phobos once I've had a chance to resolve your other open issue.

[2022-07-28 08:43] object commented on #64
Thanks, very much appreciated. I am taking a one week vacation, back to business on Monday August 8. I will check this out then.

[2022-08-03 03:46] Aaronontheweb commented on #65
This is now resolved behind the scenes in Phobos 2.1.0-beta1 - there might be some cases where a trace gets broken the very first time a shard is allocated but there's not much we do can about that (`ShardRegion`'s custom message buffering breaks it, unless we allow a bunch of internal sharding messages to be automatically traced.) We also had to enable `create-trace-upon-receive = on` for `ShardR

[2022-08-03 03:46] #65 closed

[2022-08-08 07:15] object commented on #65
@Aaronontheweb Is Phobos 2.1.0-beta1 released on NuGet? I tried to update the package but still got 2.0.6 as the latest version.

[2022-08-08 12:17] Aaronontheweb commented on #65
Sigh, looks like it didn't get pushed right as I was signing off before going OOF. I'll get that fixed.

[2022-08-08 12:18] Aaronontheweb commented on #65
Ah, looks like the version of Windows we were using in our release pipeline on AzDo was permanently deprecated. Ok, that's an easy fix. Shouldn't take long.

[2022-08-08 12:30] Aaronontheweb commented on #65
Ok, these are all pushed to Sdkbin now!

[2022-08-08 13:00] object commented on #65
Downloaded, will test.

[2022-08-08 13:42] object commented on #65
Using Phobos 2.1.0-beta1 I can see that traces have spans from different cluster nodes. I need to inspect the content of trace transactions but for the time being I can confirm that Akka cluster sharding can be used with manually created spans.

[2022-08-08 13:43] Aaronontheweb commented on #65
Good to hear!

[2022-08-12 12:42] object opened #66 "When spans are created manually messages from cluster singleton break trace transactions"
This issue is similar to what was recently fixed for cluster sharding but this time the trace transactions are broken when there is a communication with a cluster singleton in the middle.

Here's our setup:

1. We use an open source library Akka.Persistence.Reminders written by Bartosz (https://github.com/Horusiath/Akka.Persistence.Reminders). It's been working very well for setting up long living

[2022-08-12 13:10] Aaronontheweb commented on #66
Got it - yeah this is going to be another instance of what we had to do to make sharding work. We'll get on it.

[2022-08-15 13:44] Aaronontheweb commented on #66
Related: https://github.com/petabridge/phobos-issues/issues/65

[2022-08-15 15:06] Aaronontheweb commented on #66
I wrote a reproduction this morning and everything worked fine using a ClusterSingletonManager / Proxy. This makes me wonder whether or not the issue is that the singleton replies back inside a `PersistAsync` block, which might break the manual propagation of traces here. Going to keep prodding my reproduction and see what I can come up with.

[2022-08-15 15:18] Aaronontheweb commented on #66
So I think this is misnomer - the issue isn't cluster singletons as I've been able to validate that those work. It looks like the issue in this case is that the actor started by Akka.Persistence.Reminders doesn't have any manual instrumentation code for correlating spans, so automatic correlation needs to be turned on via configuration.

This can be accomplished via Phobos' HOCON or via the extens

[2022-08-15 15:18] Aaronontheweb commented on #66
Give that fix a try and let me know if it doesn't solve the issue.

[2022-08-16 11:58] object commented on #66
Thanks @Aaronontheweb, working with it now.

I checked the singleton path and it is "akka://Oddjob/user/rem:playabilitybump/singleton/rem:playabilitybump", so I assume I should specify "/rem:playabilitybump/singleton/rem:playabilitybump" in akka.actor.deployment section.

But I wonder why I need to turn it on. Because I set create-trace-upon-receive to off in our code, and I don't have any manual

[2022-08-16 12:44] object commented on #66
No, inserting akka.actor.deployment directive for the reminder actor didn't seem to help. What I will do I will fork the library and compile everything in our code base, then I will test again.

[2022-08-16 13:08] Aaronontheweb commented on #66
Correct - that's why we designed Phobos to automatically create spans by default, as it's the only universal way to preserve context across all actors including ones not developed by the end-user directly.

[2022-08-16 13:15] Aaronontheweb commented on #66
The HOCON _should_ allow you to manually override that for just that actor - you might also have to override it for the singleton proxies that send the message to the reminders actor as well. In that case I'd recommend just using the `Props.WithInstrumentation` extension method to do that:

[code]

I'd try that first before forking the library.

[2022-08-16 13:16] object commented on #66
Thanks, I will give it a try. I already forked a lib but will try that suggestion too.

[2022-08-16 13:19] object commented on #66
But I am using an external F# API lib Akkling with manually created spans. I wounder what the difference in that respect between Akka.Persistence.Reminders and Akkling.

[2022-08-16 13:26] Aaronontheweb commented on #66
Ideally there shouldn't be much of one - everything Phobos does is at the `ActorCell` level, for the most part, which exists somewhat separately from the way the actors themselves are implemented by the end-user.

[2022-08-16 13:33] object commented on #66
Related question: what if I wrap communication with a 3rd party actor in a local actor where I create manual spans? Now the message comes directly from a reminder and the context is not preseved. What if there is local reminder proxy that encapsulates all communication with a reminder singleton?

[2022-08-16 13:37] Aaronontheweb commented on #66
As long as you have a data structure that can preserve the incoming `SpanContext` with either a new outgoing `SpanContext` or the original, it should work.

[2022-08-16 13:39] object commented on #66
Let me experiment then with what will be most flexible to implement.

[2022-08-16 13:52] object commented on #66
Hmm, I have built Akka.Persistence.Reminders together with my code, and still the trace transacation is broken at a call to a reminder proxy. I will continue investigating this.

[2022-08-16 14:52] object commented on #66
I can confirm that if I replace the Akka.Persistence.Reminders scheduling actor with a fake non-persistent singleton, then everything works fine. Something is weird with Akka.Persistence.Reminders even though it's a simple persistent actor. Will experiment more.

[2022-08-17 09:42] object commented on #66
This issue is not related to cluster singleton. I will continue investigating and when I find more I will create a new issue.

[2022-08-17 09:42] #66 closed

[2022-08-17 13:07] Aaronontheweb commented on #66
Ok, thanks for letting us know @object

[2022-08-17 15:55] object opened #67 "Does sending a message to sender from Persist/PersistAsync break trace transaction?"
I continue testing manual creation of trace spans. As I reported earlier, my problem is using Akka.Persistence.Reminder that has a schedule persistent actor. If the actor sends an ack to a sender after scheduling a message, the trace transaction breaks. The message to sender is sent from inside a PersistAsync call (I tried Persist with the same effect). If I remove Persist call and send Ack straig

[2022-08-17 19:54] Arkatufus commented on #67
@object
I've tried to reproduce the problem with `Persist`/`PersistAsync` and could not reproduce it.
`Akka.Persistence.Reminders` uses a `ReceivePersistentActor` internally. If you wanted to use manual span creation and are using `Akka.Persistence.Reminders`, you would have to create an internal fork of that project that manually create spans in its `Schedule` command handler.

[2022-08-17 20:35] object commented on #67
I already forked it, will try to create manual spans there. I will also try to reproduce the problem in a smaller example.

[2022-08-18 08:46] object commented on #67
I created small samples where I tested responding to sender from Persist/PersistAsync, and it worked fine. It also worked fine from a forked version of Akka.Persistence.Reminder. So it must be something else in my case. Sorry for a false alarm, closing this one.

[2022-08-18 08:46] #67 closed

[2022-08-18 13:03] object commented on #67
@Aaronontheweb @Arkatufus
I tested this situation more and here's what I've found:

1. The trace transaction breaks because UsableContext in a closure passed to Persist/PersistAsync may become null.
2. In a small test sample where I pasted the code of PersistentReminder actor, UsableContext in a closure wasn't null and the trace transaction was ok.
3. I forked Akka.Persistent.Reminders code, added

[2022-08-18 13:18] object commented on #67
And to make it more clear: Akka.Persistence.Reminder worked fine with a small example as it is, without forking and adding custom code. No need to create custom span in Reminder actor, UsableContext is retained. But in my code base I had to fork it and create a custom span inside Reminder actor PersistAsync closure, otherwise it started a new trace transaction.

[2022-08-18 13:23] Aaronontheweb commented on #67
`UsableContext` is reset each time an actor's `Receive` method exits - which behind the scenes is what's happening when a `PersistentActor` is executing a `Persist` call - the lambda on that executes after the persist operation successfully completes is actually a separate and discrete message-processing interaction resulting from a message sent back from the journal. When automatic tracing is ena

[2022-08-18 13:34] object commented on #67
Yes, it makes sense, but doesn't this mean then that the lambda sent to Persist call should always lose the original UsableContext in manual span creation scenario? I am confused that it worked in a small sample. @Arkatufus also mentioned yesterday that he checked Persist/PersistAsync and could not reproduce the problem, I assume he was trying manual span creation. I have a workaround now, just cu

[2022-08-18 13:36] Aaronontheweb commented on #67
yes it should - as that lambda is really a hidden second `Receive` statement, but it's triggered by `PersistentActor` base class code.

[2022-08-23 07:41] object commented on #67
@Aaronontheweb @Arkatufus Apparently this can be sorted without forking external library (Akka.Persistence.Reminder in my case). I forgot about possibility to pass SpanContext. Indeed as long as I can create a new trace span using a previously saved instance of SpanContext, I can compose trace transaction exactly as I want it to be. So I just obtain ctx.GetInstrumentation().UsableContext and pass

[2022-08-23 12:45] Aaronontheweb commented on #67
Thanks for following up with us @object - we really appreciate it. Glad you found a work-around for this.

[2022-08-24 12:02] object opened #68 "Can auto-generated shard messages be omitted from a trace transaction with manual span management?"
I believe this is rather specific question related to manual span creation, so I booked an hour with @Aaronontheweb to demonstrate and discuss this issue. I will briefly describe it here.

Setup:
We have an Akka cluster where incoming requests (via RabbitMQ) spawn transactions consisting of series of messages sent between several cluster nodes using cluster sharding. We took over the trace span cr

[2022-08-24 13:16] Aaronontheweb commented on #68
Ok, I'll look forward to meeting with you on Friday - my first thought here is that these should possibility be filtered out via OpenTelemetry's trace `Processor`s, which include support for filtering out spans https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/6341

I'll see if I can prototype something in that regard today. I just wrote an implementation last week to use OTel

[2022-08-24 13:16] Aaronontheweb commented on #68
My worry is that dropping 1-2 spans in the middle of a transaction might break the entire trace, but I'll have to test it

[2022-08-24 13:20] Aaronontheweb commented on #68
I'll put together a prototype prior to our meeting and report my findings on this thread.

[2022-08-24 13:28] Aaronontheweb commented on #25
Test

[2022-08-24 17:17] object commented on #68
This is my fear too because the 4 spans above form a parent-child hierarchy: 1 to 2 to 3 to 4. So simply filtering out two intermediate spans can break the whole chain.

If all spans belonged to the same node, I could simply pass the 1st span's resuable context to the 4th span and the transaction would continue. But spans 2-3 are on the edge of the cluster node.

What I would like to have is to be

[2022-08-24 19:42] Aaronontheweb commented on #68
With Akka.Cluster.Sharding there are no guarantees that will be the case

[2022-08-24 21:07] Aaronontheweb commented on #68
So it looks like using an [OpenTelemetry filter processor](https://github.com/open-telemetry/opentelemetry-dotnet/tree/main/docs/trace/extending-the-sdk#filtering-processor) works:

![image](https://user-images.githubusercontent.com/326939/186523233-4c75e736-f2e9-454d-a743-6f31e90bfa26.png)

You'll get some of these errors inside Jaeger, but the trace still renders:

[code]

My source code for the

[2022-08-24 21:19] Aaronontheweb commented on #68
Reported issue in the OTEL repo: https://github.com/open-telemetry/opentelemetry-dotnet/issues/3603

[2022-08-24 21:21] Aaronontheweb commented on #68
Also, here's my PR where all of the work was performed: https://github.com/petabridge/akkadotnet-code-samples/pull/104

[2022-08-25 05:33] object commented on #68
Thank you so much @Aaronontheweb for such thorogh investigation. I am going to give it a try.

[2022-08-25 08:53] object commented on #68
@Aaronontheweb  I tried using a custom processor inherited from CompositeProcessor<Activity>, and it filtered out specified spans but unfortunately it broke trace transaction in smaller pieces.

Example: I let Phobos manage my traces by setting create-trace-upon-receive to "on".  It generated the following trace transaction chain (showing operation names):

[code]

Note there are many messages of

[2022-08-25 08:59] object commented on #68
Hmm, reading release notes for latest OpenTelemetry:
https://www.opensourceagenda.com/projects/opentelemetry-dotnet/versions

"CompositeProcessor will now ensure ParentProvider is set on its children ([#3368](https://github.com/open-telemetry/opentelemetry-dotnet/pull/3368))"

I am on an earlier version. Will need to try the latest one.

[2022-08-25 09:52] object commented on #68
Nope, upgrading to OpenTelemetry version 1.4.0-alpha.2 didn't help. Using CompositeProcessor to filter some messages breaks trace transaction in those places.

[2022-08-25 10:50] Aaronontheweb commented on #68
You can probably use a `Processor` to rename those `FSharpResult<T>` traces

[2022-08-25 11:02] object commented on #68
@Aaronontheweb names are not a problem. I chose FSharpResult as an example of message types to try to filter out, and it broke the trace transaction. If I instead filter out tags with "Akka.Cluster.Sharding", the transaction will also be broken. As long as it's impossible to retain span hierarchy when excluding certain spans, then it's of a little use to compose distributed traces.

[2022-08-25 11:42] object commented on #68
The more I look into it, the more I doubt anything can be altered using CompositeProcessor. It works with activities that already set up and there's not much can be altered for them. For example, although Activity has a SetParentId method, documentation states that "This method should only be used before starting the Activity object. This method has no effect if you call it after the Activity obje

[2022-08-25 12:31] Aaronontheweb commented on #68
Living with some of the noise from Phobos might be the best option in this case then unfortunately

[2022-08-26 15:29] Aaronontheweb opened #69 "Need to make all Akka.Cluster.Sharding infrastructure transparent in traces"
Related https://github.com/petabridge/phobos-issues/issues/68

## Spec

The traces produced by Akka.Cluster.Sharding's infrastructure are not particularly interesting - we need a pass-through mechanism that allows messages to flow through the infrastructure, preserving their original traces, without having to record each of the separate hops made through `ShardRegion` / `Shard` / `ShardRegionProxy

[2022-08-31 14:29] Aaronontheweb commented on #69
Added a brief spec - going to work on prototyping some ideas for how to accomplish this @object

[2022-09-19 10:39] ismaelhamed opened #70 "Missing `unit` for all metrics received from Phobos in Prometheus"
**Akka:** 1.4.40
**Phobos:** 2.0.6
**OpenTelemetry:** 1.4.0-alpha.2
**Prometheus:** 2.37.1
**OpenTelemetry-Collector:** 0.60.0

@Aaronontheweb  I finally figured out why the metrics that we receive from Phobos in Prometheus are different than the ones expected by the Grafana dashboards (hence the dashboards are always empty). When compared with the `Petabridge.Phobos.Web` application, it looks lik

[2022-09-19 13:53] Aaronontheweb commented on #70
These are the definitions for all of our metrics

[code]

There have been some major changes to the Prometheus exporters recently, so I'm wondering if this is an upstream breaking change in the OpenTelemetry project. We've run into some of those lately: https://github.com/open-telemetry/opentelemetry-dotnet/issues/3591

I'll perform some upgrades in our projects and see if I can get to the bottom

[2022-09-19 16:22] Aaronontheweb commented on #70
Also, I see in your issue submission that you're using the [OTel Collector](https://opentelemetry.io/docs/collector/)? So is it the OTel collector that exposes the metrics, eventually, to Prometheus?

[2022-09-19 16:50] Aaronontheweb commented on #70
Trying to upgrade to https://www.nuget.org/packages/OpenTelemetry.Exporter.Prometheus.AspNetCore/1.4.0-alpha.2 to see if this reproduces the issue...

[2022-09-19 18:16] Aaronontheweb commented on #70
Attempted to reproduce this issue here: https://github.com/petabridge/Petabridge.Phobos.Web/pull/156

Here is what I get from `/metrics`

[code]

Even with the new 1.4.0-alpha* packages it looks like Prometheus is exposing properly typed metrics - so this leads me to wonder if this is an issue caused by the OTel Collector not propagating types correctly to Prometheus. How are you exporting your me

[2022-09-20 06:10] ismaelhamed commented on #70
We use the `OpenTelemetry.Exporter.OpenTelemetryProtocol` to export the metrics and send them locally to the instance of the OTel Collector installed in each VM (as an agent). It is then the OTel Collector which exposes the `/metrics` endpoint for Prometheus in this case.

IMO this has several advantages:

- You don't need a WebHost in each process just to expose the `metrics` endpoint anymore.
-

[2022-09-20 10:35] ismaelhamed commented on #70
@Aaronontheweb I've created a [PR](https://github.com/petabridge/Petabridge.Phobos.Web/pull/157) with a reproducible

[2022-09-20 13:46] Aaronontheweb commented on #70
Thanks @ismaelhamed - I'll look into this.

[2022-09-21 18:29] Arkatufus commented on #70
To turn the feature on in your `Petabridge.Phobos.Web` PR, change this line in the `otel-collector:` section:
[code]

[2022-09-21 18:39] #70 closed

[2022-09-22 07:30] ismaelhamed commented on #70
@Arkatufus thank you for taking the time to investigate this and pointing me to that feature (I totally missed that in the documentation). But still the metrics the OTel Collector produces are different than the ones expected for the dashboards, so they still appear empty.

A couple of examples:

`akka_actor_stopped_stops_total` instead of `akka_actor_stopped_stops`, or `akka_logs_events_total` in

[2022-09-22 13:00] Aaronontheweb commented on #70
Looks like this name-mangling is a side effect of the OTel Collector's Prometheus exporter @ismaelhamed

https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/pkg/translator/prometheus#full-normalization

![image](https://user-images.githubusercontent.com/326939/191753191-1367451f-0c87-40e3-a6f7-895850c37a8c.png)

Why the metrics have different names when directly exported to

[2022-09-22 13:24] ismaelhamed commented on #70
I really hope not, because that's basically the whole selling point for having an open standard.

The Prometheus Normalization plugin states this: *This module provides centralized functions to convert OpenTelemetry metrics to Prometheus-compliant metrics.*

But I guess not. Otherwise the OTel Collector would've matched the metrics names, unless the metrics in Phobos itself don't quite follow the

[2022-09-22 13:27] Aaronontheweb commented on #70
Do you have any non-Phobos metrics to compare against? Any of the built-in ASP.NET ones, for instance?

[2022-09-22 14:10] ismaelhamed commented on #70
I can't see anything from `aspnet`, but for the ones from `http-client` is the same: subtle differences like the OTel Collector using `milliseconds`  instead `ms`.

**ORIGINALS**
[code]

**OTEL COLLECTOR**
[code]

[2022-09-22 19:07] Aaronontheweb commented on #70
I think this must be an OTel Collector bug - there's no reason why the metrics should have a different name when reported directly to Prometheus vs. going through the collector first. They're all OTel metrics objects after all!

[2022-09-23 06:02] ismaelhamed commented on #70
Agree, there's something off.

[2022-11-07 16:57] Aaronontheweb opened #71 "`Tracer.CurrentSpan` and `PhobosActorContext.ActiveSpan` should be the same when actor is processing message, but currently are not"